//- Canary Islands

extends layout
	
block content
	h1 #{location}
	h2 #{explorer}
	img(src='http://www.celebritycruises.co.uk/images/20-214051-4-5-Canary-Islands-Cruises-Carousel-2-694x388.jpg')

	a(href = "/") Previous 
	a(href = "CapeVerde") Next
