//- Cape Verde

extends layout
	
block content
	h1 #{location}
	h2 #{explorer}
	img(src='http://images.sunshine.co.uk/ver2/images/whereshot/jan-cape-verde.jpg')

	a(href = "CanaryIslands") Previous 
	a(href = "straightofMagellan") Next