//- Guam

extends layout
	
block content
	h1 #{location}
	h2 #{explorer}
	img(src='http://www.pacsafe.com/blog/wp-content/uploads/2013/06/Guam-Big-city-on-a-small-Island.jpg')

	a(href = "/straightofMagellan") Previous 
	a(href = "/Philippines") Next