//- Straight of Magellan

extends layout
	
block content
	h1 #{location}
	h2 #{explorer}
	img(src='https://c1.staticflickr.com/3/2225/2196504962_270b8a1259.jpg')

	a(href = "/CapeVerde") Previous 
	a(href = "/Guam") Next