body *{
	font-family: verdana;
	
}

.map {
	z-index: -1;
	width: 1200px;
	position: fixed;
}

.map img {
	width: 1200px;
}
.map-container {
	width: 1200px;
	position: absolute;
	margin: auto;
}

h1 {
	text-align: center;
	padding: 20px;
	color: black;
}

a {
	text-decoration: none;
}

.begincontainer {
	position: relative;
}
.begin {
	text-align: center;
	position: relative;
	top: 500px	;
}

.location *, .next *{
	display: block;
}

.location {
	position: absolute;
}

.location label, .location p {
	margin-top: -40px;
	margin-left: 60px;
	color: white;
}

.location img {
	width: 60px;
}

.next * {
	width: 100px;
	text-align: right;
	position: absolute;
	top: 720px;
	left: 990px;
}

.next p {
	top: 715px;
	left: 955px;
}


.next {
	text-align: right;
	top: 500px;
	right: 200px;
}