doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Magellan's Voyage
		link(href='/main.css', rel='stylesheet')

	body
		.map-container
			.map
				img(src="/img/worldmap.jpg")
			h1 Magellan's Voyage

		block content
		

		






		